body {
    font-family: 'Pretendard', sans-serif;
    /* font-family: "DM Sans", sans-serif; */
    background-color: #f4f6f9;
    color: #111;
    letter-spacing: -0.2px;
}

/* ----------------------- */

.platform-wrap {
    display: grid;
    height: 100vh;

    grid-template-columns: 250px 1fr;
    grid-template-rows: 90px 1fr;

    grid-template-areas:
        "sidebar header"
        "sidebar main";
}

/* 왼쪽 사이드 바 */

.sidebar {
    grid-area: sidebar;
    background-color: #2C3639;
    padding: 30px;
}

.sidebar h1 {
    font-size: 2rem;
    font-weight: 600;
    color: #fff;
    margin-bottom: 30px;
}

.side-menu li {
    margin-bottom: 30px;
}

.side-menu a {
    position: relative;
    color: #777;
    transition: color 0.2s;
}

.side-menu a::after {
    position: absolute;
    content: '';
    width: 0;
    left: 0;
    bottom: -4px;
    height: 1px;
    background-color: #fff;
    transition: width 0.3s;
}

.side-menu a:hover::after {
    width: 100%;
}

.side-menu a:hover {
    color: #fff;
}

/* 헤더 */

.top-header {
    grid-area: header;
    background-color: #DCD7C9;
    box-shadow: 0 2px 10px rgba(0,0,0,0.08);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
}

.top-header h2 {
    font-size: 1.25rem;
    font-family: "DM Sans", sans-serif;
    text-transform: uppercase;
    color: #2C3639;
}

.top-header button {
    border: none;
    border-radius: 30px;
    padding: 15px 25px;
    background-color: #2C3639;
    color: #fff;
    font-size: 1rem;
    font-family: "DM Sans", sans-serif;
    transition: all 0.2s;

    /* 버튼 크기 고정 (텍스트가 길어져도 안정적) */
    flex-shrink: 0; /* flex에서 줄어들지 않게 */
}

.top-header button:hover {
    background-color: #A27B5C;
}


/* 메인 */

.main-content {
    grid-area: main;
    padding: 30px;
    gap: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: max-content;
}

.album-card {
    background-color: #fff;
    padding: 30px;
    border-radius: 30px;
    transition: transform 0.2s;
}

.album-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 15px rgba(0,0,0,0.05);
}

.album-card img {
    width: 100%;
    border-radius: 20px;
}

.album-text h3 {
    margin-top: 20px;
    margin-left: 8px;
    font-size: 1.5rem;
    font-weight: 600;
}

.album-text p {
    margin-top: 10px;
    margin-left: 8px;
    color: #777;
}